
<div class="columns">
	<div class="row">
	    <div class="small-12 medium-6 medium-offset-3 columns">
        <input type="file" accept=".csv" ng-file-model="importTitles"/>
        <button ng-click="compareFile('importTitles')">Compare</button>
	 </div>
	</div>
	<div class="row">
	    <div>Missing: {{objectkeys(changes.missingtitles).join(', ')}}</div>
        <div>Downgraded: {{objectkeys(changes.downgradedtitles).join(', ')}}</div>
	</div>
	<textarea style="width: 100%; height: 25rem;">{{ filtered.importTitles = (importTitles | filter:{title: query} | orderBy:orderProp) | toExport | toCsv }}</textarea>	
</div>
