
<div class="columns">
	<div class="row">
	    <div class="small-12 medium-6 medium-offset-3 columns">
        <input type="file" accept=".csv" (change)="handleFileInput($event.target.files)"/>
        <button ng-click="compareFile()">Compare</button>
	 </div>
	</div>
	<div class="row">
	    <div>Missing: {{changes.missing}}</div>
        <div>Downgraded: {{changes.downgrades}}</div>
	</div>
	<textarea style="width: 100%; height: 25rem;">{{ filtered.titlesImport = (importTitles | filter:{title: query} | orderBy:orderProp) | toExport | toCsv }}</textarea>	
</div>
