<div class="columns">
	<ul class="small-block-grid-5 medium-block-grid-7 large-block-grid-9">
		<li ng-repeat-start="title in filtered.tv = (tv | filter:{title: query} | orderBy:orderProp) | pageSlice:thumbs.pageNum:thumbs.pageSize">
			<div class="clearfix img-wrap">
				<div class="left has-tip" tooltip="{{title.title}}" tooltip-popup-delay="500" tooltip-placement="bottom" ng-class="{'uv-thumb': title.isUV}">
					<a ng-click="vuduLink(title.contentId)"><img ng-src="{{title.posterUrl}}" class="th"></a>
				</div>
			</div>
		</li>
		<li ng-if="(title.type=='season' || title.type=='series') && title.expanded" ng-repeat-end="" ng-repeat="subtitle in title.episodes">
			<div class="clearfix img-wrap">
				<div class="left has-tip" tooltip="{{subtitle.title}}" tooltip-popup-delay="500" tooltip-placement="bottom" ng-class="{'uv-thumb': subtitle.isUV}">
					<a ng-click="vuduLink(subtitle.contentId)"><img ng-src="{{subtitle.posterUrl}}" class="th"></a>
				</div>
			</div>
		</li>
	</ul>
	
	<div class="pagination-centered">
		<ul class="pagination">
			<li class="arrow" ng-if="thumbs.pageTotal() > 1">
				<a ng-click="thumbs.pageNum = thumbs.pageNum - 1">&laquo;</a>
			</li>
			<li ng-repeat="n in thumbs.pageInationRange track by $index" ng-class="{current: n == thumbs.pageNum}">
				<a ng-click="thumbs.pageNum = n">{{n + 1}}{{n == thumbs.pageNum | conditional:' of ' + thumbs.pageTotal()}}</a>
			</li>
			<li class="arrow" ng-if="thumbs.pageTotal() > 1">
				<a ng-click="thumbs.pageNum = thumbs.pageNum + 1">&raquo;</a>
			</li>
		</ul>
	</div>
</div>

