<!--
<div class="columns">
	<div class="row">
		<div class="small-12 medium-6 medium-offset-3 columns">
         <input type="file" file-model="myFile"/>
         <button ng-click="uploadFile()">Compare</button>
		</div>
	</div>
	<p class="file">
		<input id="diffbasefile" multiple="multiple" type="file"/>
		<label for="diffbasefile">file</label>
	</p>
	<textarea style="width: 100%; height: 25rem;">{{ filtered.titles = (titles | filter:{title: query} | orderBy:orderProp) | fromImport | fromCsv }}</textarea>	
</div>

$scope.myFile;
fd.append('file', file);
-->
