
<div class="columns">
	<div class="row">
	    <div class="small-12 medium-6 medium-offset-3 columns">
        <input type="file" accept=".csv" ng-file-model="importTv"/>
<!--
        <button ng-click="compareFile('importTv')">Compare</button>
-->
	 </div>
	</div>
	<div class="row">
	    <div>Missing: 
<div ng-repeat-start="contentId in changes.missingtv">
<a class="tiny button secondary expand radius" ng-click="vuduLink(contentId)">{{contentId}}</a>
        </div>
        <div>Downgraded: 
<div ng-repeat-start="contentId in changes.downgradedtv">
<a class="tiny button secondary expand radius" ng-click="vuduLink(contentId)">{{contentId}}</a>
        </div>
	</div>
	<textarea style="width: 100%; height: 25rem;">{{ filtered.importTv = (importTv | filter:{title: query} | orderBy:orderProp) | toTVExport | toCsv }}</textarea>	
</div>
