<div class="columns">
	<table>
		<thead>
			<tr>
				<th width="8%" aria-label="Owned / Available">Quality</th>
				<th width="8%">ID</th>
				<th width="15%" ng-if="orderProp == 'studio.name'">Studio</th>
				<th>Title</th>
				<th width="8%">Year</th>
				<th width="8%" ng-if="orderProp == 'mpaaRating'">MPAA</th>
				<th width="8%">Tomato</th>
				<!-- <th width="8%">Type</th> -->
				<th width="8%">UV</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat-start="title in filtered.tv = (tv | filter:{title: query} | orderBy:orderProp)">
				<td class="center">{{title.videoQuality}} / {{title.bestAvailVideoQuality}}</td>
				<td class="center"><a class="tiny button secondary expand radius" ng-click="vuduLink(title.contentId)">{{title.contentId}}</a></td>
				<td ng-if="orderProp == 'studio.name'">{{title.studio.name}}</td>
				<td ng-if="title.subitems"><a class="tiny button secondary expand radius" ng-click="title.expanded = !title.expanded">{{title.title}}</a></td>
				<td ng-if="!title.subitems">{{title.title}}</td>
				<td class="center">{{title.releaseYear}}</td>
				<!-- <td>{{title.bestAvailVideoQuality | uppercase}}</td> -->
				<td ng-if="orderProp == 'mpaaRating'">{{title.mpaaRating | uppercase}}</td>
				<td class="center">{{title.tomatoMeter}}</td>
				<!-- <td>{{title.type}}</td> -->
				<td class="uv center" ng-class="{'is-uv': title.isUV}">{{title.isUV | conditional:'Yes':'No'}}</td>
			</tr>
			<tr ng-if="(title.type=='bundle' || title.type=='season' || title.type=='series') && title.expanded" ng-repeat-start="subtitle in title.subitems">
				<!-- <td colspan="{{col.subcolumns.length}}">{{subtitle.details}}</td> -->
				<td class="center">{{subtitle.videoQuality}} / {{subtitle.bestAvailVideoQuality}}</td>
				<td class="center"><a class="tiny button secondary expand radius" ng-click="vuduLink(subtitle.contentId)">{{subtitle.contentId}}</a></td>
				<td ng-if="orderProp == 'studio.name'">{{subtitle.studio.name}}</td>
				<td ng-if="subtitle.subitems"><a class="tiny button info expand radius" ng-click="subtitle.expanded = !subtitle.expanded">{{subtitle.title}}</a></td>
				<td ng-if="!subtitle.subitems">{{subtitle.title}}</td>
				<td class="center">{{subtitle.releaseYear}}</td>
				<!-- <td>{{subtitle.bestAvailVideoQuality | uppercase}}</td> -->
				<td ng-if="orderProp == 'mpaaRating'">{{subtitle.mpaaRating | uppercase}}</td>
				<td class="center">{{subtitle.tomatoMeter}}</td>
				<!-- <td>{{subtitle.type}}</td> -->
				<td class="uv center" ng-class="{'is-uv': subtitle.isUV}">{{subtitle.isUV | conditional:'Yes':'No'}}</td>
			</tr>
			<tr ng-if="subtitle.type=='season' && subtitle.expanded && title.expanded" ng-repeat-end="" ng-repeat="episode in subtitle.subitems">
				<!-- <td colspan="{{col.subcolumns.length}}">{{episode.details}}</td> -->
				<td class="center">{{episode.videoQuality}} / {{episode.bestAvailVideoQuality}}</td>
				<td class="center"><a class="tiny button secondary expand radius" ng-click="vuduLink(episode.contentId)">{{episode.contentId}}</a></td>
				<td ng-if="orderProp == 'studio.name'">{{episode.studio.name}}</td>
				<td>{{episode.title}}</td>
				<td class="center">{{episode.releaseYear}}</td>
				<!-- <td>{{episode.bestAvailVideoQuality | uppercase}}</td> -->
				<td ng-if="orderProp == 'mpaaRating'">{{episode.mpaaRating | uppercase}}</td>
				<td class="center">{{episode.tomatoMeter}}</td>
				<!-- <td>{{episode.type}}</td> -->
				<td class="uv center" ng-class="{'is-uv': episode.isUV}">{{episode.isUV | conditional:'Yes':'No'}}</td>
			</tr>
			<tr ng-repeat-end="" ng-if="0"></tr>
		</tbody>
	</table>
</div>
